# === Aliases ===

# Sorts directories in top, colors, and prints `/` at directories:
alias ls='eza -l -a --icons=auto --header --git'

# Use syntax highlight for `cat`:
alias cat='bat --paging never --decorations never --plain'
