name: Linters Checks

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  shellcheck:
    name: ShellCheck Lint
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'  # Skip for Dependabot
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install ShellCheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck

      - name: Run ShellCheck on all .sh files and shell folder
        run: |
          # Find all `.sh` files
          sh_files=$(find . -type f -name "*.sh")

          # Adding files from `shell` folder
          if [ -d "shell" ]; then
            shell_files=$(find shell -type f)
          else
            shell_files=""
          fi

          # Check
          all_files="$sh_files $shell_files"
          if [ -z "$all_files" ]; then
            echo "No shell scripts found."
          else
            echo "Running ShellCheck on the following files:"
            echo "$all_files"
            shellcheck -s bash $all_files
          fi
